# Easier navigation: .., ..., ...., ....., and --
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Shortcuts
alias dev="cd ~/dev"
alias dl="cd ~/downloads"
alias w="cd ~/work"

alias c="clear"

# Detect which 'ls' flavor is in use
if ls --color > /dev/null 2>&1; then # GNU 'ls'
	colorflag="--color"
else # OSX 'ls'
	colorflag="-G"
fi

# List files colorized in long format
alias ll="ls -l ${colorflag}"

# List all files colorized in long format
alias la="ls -la ${colorflag}"

# Always use color output for 'ls'
alias ls="command ls ${colorflag}"

