# Easier navigation: .., ..., ...., ....., and --
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias db="cd ~/Dropbox"
alias dev="cd ~/dev"
alias dl="cd ~/downloads"
alias w="cd ~/work"

alias jo="vi ~/Dropbox/journal/$(date +%Y-%m-%d).txt"
alias c="clear"

# List files colorized in long format
alias ll="gls -lh --group-directories-first --color=auto"

# List all files colorized in long format
alias la="gls -lah --group-directories-first --color=auto"

# Always use color output for 'ls'
alias ls="gls --color=auto"

