# Compiled Python files
*.pyc
__pycache__/

# MATLAB Autosave files
*.m~

# Compiled MEX binaries
*.mex*

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

